# Section pour les éditeurs de textes/ide
.vscode
.idea 
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Testing
reports/
media/

#Pipfile
Pipfile.lock

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Settings file
openCMMS/pic_settings.py